<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Tentang Aplikasi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Beranda</a>
        <a href="/tambah">Tambah Obat</a>
        <a href="/riwayat">Riwayat</a>
        <a href="/tentang">Tentang</a>
        <a href="/kontak">Kontak</a>
    </nav>
    <h1>Tentang Aplikasi</h1>
    <p>Aplikasi ini dibuat untuk membantu Anda mengingat waktu minum obat agar tidak terlewat.</p>
    <p1>Dibuat Oleh Tegar Bagus Permana</p1>
    <p2>Pada Tanggal 05 Juli 2025</p2>
    <p3>Dan Dibantu Rekan Satu Kampus Rian Surya Si Ganteng No Debat</p3>
</body>
</html>
